<header>
  <mat-toolbar color="primary">
    <span>BFH Exercise</span>
    <span class="toolbar-flex-space"></span>
    <span class="right-spacing">Daniel Käser</span>
    <a mat-icon-button href="mailto:da.kaeser@gmx.ch" title="Send email">
      <mat-icon color="accent" inline="true">email</mat-icon>
    </a>
  </mat-toolbar>
</header>

<!-- task 1 -->
<div class="content-margin">
  <h1>Task 1</h1>
  <app-task1></app-task1>
</div>

<!-- task 2 -->
<h1 class="content-margin">Task 2</h1>
<app-task2></app-task2>
